.main
  .main__group
    %ul   
      %li.main_mane
        = @group.name
        %p.main_mane__user
          Membar
          - @group.users.each do |user|
            = user.name
      %li.main_edit
        = link_to edit_group_path(@group), class: "edit_btn" do
          Edit

  .main__message
    = render @messages 
  
  .main__from
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: 'new_message__text', placeholder: 'メッセージを入力'
      .input_box_list
        = f.label :image, class: 'new_message__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'new_message__image--file'
      = f.submit 'Send', class: 'submit_btn'