.side
  .side_top
    .side_top__items
      .said_top__name
        = current_user.name
      %ul.said_top__list
        %li.said_top__list--edit
        = link_to new_group_path do
          = icon('far', 'edit')
        %li.said_top__list--cog
        = link_to edit_user_path(current_user.id) do
          = icon('fas', 'cog')

  .side_groups
    - current_user.groups.each do |group|
      .group
        = link_to edit_group_path(group.id) do
          .group__name
            = group.name
          .group__message
            まだないよ